@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts.gstatic.com/s/karla/v6/8gO-GQO6h3meAtqRrd890A.eot")/*tpa=http://fonts.gstatic.com/s/karla/v6/8gO-GQO6h3meAtqRrd890A.eot*/;
}
